<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<header>
<div class="container">
    <center>
      <img src="../assets/images/team-logo.svg" alt="Cyb3rM0nk3ys logo" width="7%" height="7%"/>
      <a id="a-title" href="/">
        <h1>Cyb3rM0nk3ys</h1>
      </a>
      <h2>Cyb3rM0nk3ys is a CTF team based in Verona.</h2>

      <a href="/home">
        Home</a>
      <a href="/about">
        About us</a>
      <a href="/join">
        Join us</a>
      <a href="/members">
        Monkeys</a>
    </center>
  </div>
</header>

<!-- end custom head snippets -->
