<header>
    <div class="container">
        <div id="header">
            <img src="/assets/images/team-logo.svg" alt="Cyb3rM0nk3ys logo" id="logo" />
            <a id="a-title" href="/">
                <h1>Cyb3rM0nk3ys</h1>
            </a>
            <h2>Cyb3rM0nk3ys is a CTF team based in Verona.</h2>

            <a href="/">
                Home</a>
            <a href="/members">
                Monkeys</a>
            <a href="/join">
                Join us</a>
        </div>
    </div>
</header>