<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>

  {% include head-custom.html %}

  {% seo %}
</head>

<body>
  <div class="container">
    <section id="main_content">
      <div id="ascii-art"></div>
      <div id="left-column">
        <!-- mi annoiavo di questi investigatori scarsi quindi ho deciso di leakare una vera flag :) -->
        <pre>
            ██                                                                    
            ██        ██████████        ████████████        
            ██████████▒▒▒▒▒▒▒▒▒▒████████▒▒▒▒▒▒▒▒▒▒▒▒██  
            ████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██
            ████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██
            ████▒▒▒▒▒▒▒▒                    ▒▒▒▒▒▒▒▒▒▒██
            ████▒▒▒▒▒▒▒▒▒  flag{ REDACTED }  ▒▒▒▒▒▒▒▒▒██
            ████▒▒▒▒▒▒▒▒▒▒                    ▒▒▒▒▒▒▒▒██
            ████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██
            ████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██
            ████▒▒▒▒▒▒▒▒▒▒██████▒▒▒▒▒▒▒▒████████████▒▒██
            ████▒▒▒▒▒▒█████      ████████           ████
            ███████████                               ██                                                              
            ██                                                                    
            ██                                                                    
            ██                                                                    
            ██                      ████████████████                              
            ██                    ██▒▒▒▒▒▒▒▒▒▒▒▒▒▒████                            
            ██                  ▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██▓▓                          
            ██                ██▒▒██████████▓▓▓▓▒▒▒▒▓▓▓▓██                        
            ██                ████  ░░  ░░░░████▓▓▒▒▒▒▓▓▓▓██                      
            ██                ██░░░░░░░░░░░░▒▒██▓▓▒▒▒▒▒▒▓▓▓▓██                    
            ██                ██████░░░░██████████▓▓▒▒████▓▓▓▓██                  
            ██              ██░░██░░    ░░██░░▒▒██▓▓██░░██▒▒▓▓██                  
            ██              ██  ░░░░░░░░  ░░░░▒▒████▓▓████▒▒▓▓▓▓██                
            ██            ██      ██░░██  ░░  ░░░░████▓▓▒▒▒▒▒▒▓▓████              
            ██          ██                  ░░░░░░░░██▒▒▓▓▒▒▒▒████████            
            ██          ████████░░    ░░░░░░░░░░░░░░████▓▓▒▒▒▒████▓▓████          
            ██          ██░░░░░░░░░░░░░░░░░░░░░░░░▒▒████▒▒▒▒██▓▓▒▒▒▒▓▓████        
            ██            ██░░░░░░▒▒▒▒░░▒▒▒▒▒▒▒▒▒▒████▓▓▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓██▓▓      
            ██            ██████████████████████████▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓██      
            ██          ██▒▒██▓▓▓▓██████████████▓▓▓▓▒▒▓▓▒▒▒▒▒▒▓▓▒▒▒▒▒▒▒▒▒▒████    
        ██████        ██▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒██▓▓▓▓▒▒▒▒▒▒▒▒▓▓████  
        ██    ██    ██▒▒▒▒▒▒▒▒▒▒▒▒████████████▒▒▓▓▒▒▒▒▒▒▒▒▒▒██▓▓▓▓▒▒▒▒▒▒▒▒▓▓████  
      ██░░  ░░░░████▒▒▒▒▒▒▒▒▒▒▒▒██░░░░░░░░░░░░████▒▒▒▒▒▒▒▒▒▒▓▓██▓▓▓▓▒▒▒▒▒▒▒▒▓▓████
      ██  ░░░░██████▒▒▒▒▒▒██▒▒▒▒██░░      ░░░░░░████▒▒▒▒▒▒▒▒▓▓████▓▓▓▓▒▒▒▒▒▒▒▒▓▓██
      ██░░░░████▒▒▒▒██▒▒▓▓██▒▒██░░▒▒░░██  ░░▒▒░░░░██▒▒▓▓▒▒▓▓██████████▒▒▒▒▓▓▒▒▓▓██
        ████████▒▒▒▒▓▓▓▓▓▓██▒▒████████▒▒████████████▒▒▓▓▓▓██████████████▒▒▒▒▒▒▒▒▓▓
        ██▒▒██▒▒▒▒▒▒▓▓▓▓████▓▓▒▒████      ░░██████▓▓▓▓▓▓██▒▒▒▒▒▒▓▓██████▓▓▒▒████▓▓
        ██▒▒██▒▒▒▒▓▓████████▓▓▒▒██    ░░  ░░░░██▓▓▓▓▓▓██▒▒▒▒▒▒▒▒▓▓▓▓████████░░░░██
          ██▒▒▓▓▓▓██████▓▓▓▓██▒▒██      ░░░░░░████▓▓██▒▒▒▒██▒▒▒▒████▓▓████░░░░░░██
            ████████████████▓▓▓▓██    ██░░░░░░████▓▓██▒▒██░░████▓▓██▓▓██░░██░░▒▒██
                  ██████░░████▓▓▓▓██░░░░░░░░████▓▓██▒▒▒▒████  ██████████████░░▒▒██
                  ██░░████░░██▓▓▓▓██░░░░░░████▓▓▓▓██▒▒▒▒██  ██░░██████    ██░░██  
                  ████  ░░░░████▓▓▓▓██████████▓▓████▒▒██░░  ░░░░████    ██░░██    
                    ██░░  ░░██████▓▓▓▓██████████████▒▒██  ░░░░████        ██      
                      ██░░░░▒▒████████████████████████  ░░▒▒████░░░░░░            
                  ░░░░░░██░░▒▒████████████████████████░░▒▒████░░░░░░░░░░░░░░░░    
                    ░░░░░░████░░░░░░░░░░░░░░░░░░░░░░░░████░░░░░░░░░░░░░░░░            
          </pre>
      </div>
      <div id="right-column">
        {{ content }}
      </div>
    </section>
  </div>
</body>

</html>